@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);

@font-face {
    font-family: "Norse";
    src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot");
    src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse") format("svg");
}

:root {
    --leftSpace: 3rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}


.contentLeft {
    background-position: center center;
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    flex: 3;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Norse";
    font-size: 5.5rem;
    background: rgba(0, 0, 80, 0.5);
    padding: 1rem 0 1rem 0;
    margin-top: 10.5vh;

}

.logo>img {
    display: inline;
    height: 7rem;
}

.attribution a {
    color: white;
}

.attribution {
    font-size: .9rem;

}

.contentRight {
    background-color: #f9fafb;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    gap: 3rem;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc > p {
    font-size: 1.4rem;
    margin-left: var(--leftSpace);
    font-weight: bold;
    max-width: 80%;
    margin-bottom: var(--leftSpace);
    
}

.input {
    margin-left: var(--leftSpace);
    margin-bottom: 1rem;
}

h2 {
    margin-left: var(--leftSpace);
}

.signup{
    background-color: white;
    padding: 1rem 1rem 1rem 0;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

form label{
    font-size:.7rem;
    letter-spacing: .1rem;
    
}

input:focus{
    outline: none !important;
    border: 2px solid blue;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}


button{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #596D48;
    border: 0px;
    border-radius: .5rem;
    padding: .8rem 2.7rem;
    margin-top: 2rem;
    margin-left:var(--leftSpace);
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.login{
    margin-left: var(--leftSpace);
    font-size: 1rem;
    font-weight: 400;
}

.login a{
    color:#596D48;
    font-weight: bold;
    text-decoration: none;
}
/* after button is clicked*/ 
/* input:invalid{
    outline: none !important;
    border: 2px solid red;
} */

.error{
    outline: none !important;
    border: 2px solid red;
}

.password.input p{
    display: none;
    margin: 0mm;
    color: rgb(236, 64, 64);
    font-size: .7rem;
}

